/node_modules
/public/hot
/public/storage
/public/css
/public/json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
